@media(max-width:576px){
	header{
		.fa{
			display: block;
			right: 50px;
			bottom: 36px;
			font-size: 50px;
		}
	}
	
	.form{
		margin: auto;
		.newsletter{
			width: 300px;
			margin: 0;
			text-align: center;
			form{					width:300px;
				text-align: center;
				input{
					padding-left: 20px;
					width: 300px;		
				}
				button{
					position: relative;
					right: auto;
				}
			}
		}
	}
	.copy div{
		width: 300px;
	}
	.oneMore{
		text-align: center;
	}
}

